* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    border-radius: 20px;
    background-color: black;
}

footer {
    padding: 20px;
    border-radius: 20px;
    background-color: black;
}

.nav_footer {
    display: flex;
    justify-content: center;
    background-color: hsl(207, 84%, 32%);
    border-radius: 20px;
    width: 90%;
    height: 90px;
    margin: 0 auto;
}

.pie {
    display: flex;
    justify-content: center;
    font-size: small;
}

.nav_header {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    padding: 90px;
    background-color: hsl(207, 84%, 32%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    border-radius: 10%;
}

.ul_header {
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 150px;
}

.item_header {
    padding-left: 20px;

}

.a_header {
    color: #96d4ef;
    text-decoration: none;
    padding: 1rem;

}

.a_header:hover {
    background-color: #000000;
    color: #fefefe;
    border-radius: 10px;
}

.color_info_link {
    color: aqua;
}

/**********************main************************** */
.boton_comprar {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 1px;
    display: block;
    background-color: hsl(207, 84%, 32%);
    height: 35px;
}

.titulo_inicio {
    font-family: "Honk", system-ui;
    text-align: center;
    padding-top: 30px;
    font-size: 68px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

.card{
    background-color: hsl(0, 0%, 0%);
}

.titulo_card {
    font-size: medium;
    text-align: center;
    padding: 10px;
    color: rgb(57, 209, 255);
}

.titulo_card{
    background-color: hsl(207, 84%, 32%);
}

.row {
    padding-left: 60px;
    padding-top: 30px;
}



/*Carrito y menu************************************************ */
#check {
    display: none;
}

.checkbtn {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.menu_icon img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown-menu,
.dropdown-toggle {
    background-color: transparent;
    color: #515050;
    border: none;
}


.dropdown-toggle img {
    width: 60px;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}


.dropdown-toggle {
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
}

.dropdown-item {
    color: #e837f1;
    border: 1px rgb(11, 6, 6);
    background-color: rgba(0, 0, 0, 0.281);
}

.dropdown-item:hover {
    background-color: rgb(0, 0, 0);
}

.dropdown-item:hover .title,
.dropdown-item:hover .price {
    color: #e837f1;
}


.menu-image-margin {
    margin-left: 10px;
    /* Ajustar el margen a tu gusto */
}

/* Corregido la clase para aplicar el estilo a las imágenes en el menú desplegable */
.dropdown-item > div {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    max-height: 300px; /* Ajusta la altura a tu gusto */
overflow-y: auto;
}

.removeBtn {
    background-color: #e837f1; /* Rojo */
color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.removeBtn:hover {
    background-color: #ee3124; /* Rojo más oscuro cuando se pasa el mouse por encima */
}

/**************************************************** */
@media only screen and (min-width: 320px) and (max-width: 500px) {
    .nav_header {
        width: 90%;
        height: 70px;
        margin: 0 auto;
        padding: 90px;
        background-color: hsl(200, 51%, 18%);
        border-radius: 20px;

        justify-content: space-between;
        align-items: center;
    }
}